*{
    margin:0;
    padding:0;
}
form{
    width:500px;
    height:100px;
    background-color: aquamarine;
    margin:auto;
    padding:70px;
    margin-top: 100px;
    border-radius: 25px;
    background-image: url(2.jpg);
    ;
    color:white;
    backdrop-filter: blur(10px) ;
    background-position: center;
    box-shadow:-2px 6px 69px 16px rgb(128, 124, 124);
}
form input{
    font-size: 20px;
    
    border-radius: 40px;
    padding:2px;
    border :2px solid rgb(106, 96, 86);
    font-family:Arial, Helvetica, sans-serif;
}
form label{
    font-size: 20px;
}
form  #submit{
margin-left:100px;

width:200px;

}
form #submit:hover{
    background-color: black;
    color:white;
}
